body{
	
	font-family: Aerial;
}
p{

}
a{
	color: #ff4081;
	transition: 0.5ms, ease-in-out;

}
a:hover,
a:active,
a:focus
{
	color: #212121;
}
ol{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{

}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.hero{
	width: auto;
	background-color: #303F9F;
	font-size: 40px;
	padding: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

}
main{
	max-width: 800px;
	margin: 0 400px;
}
.news-list  {
	font-size: 20px;
	
}
.news-list-item{
	border-bottom: 1px solid #b6b6b6;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.news-list-item ul {
	font-size: 14px;

}
.news-link{
	display: block;
	padding-bottom: 10px;
	color: #303F9F;
}
.news-like li{
	display: inline;
	padding-right: 2px;
}
form{
	height: 0;
	opacity: 0;
	visibility: hidden;
}


label{
 display: block;
 font-weight: bold;
 padding-bottom: 5px;
}
input{
	width: 100%;
	padding: 10px;
	font-size: 20px;
	border-radius: 4px;
	border: 1px solid #212121;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.link{
	height: auto;
	opacity: 1;
	visibility: visible;
}
